<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div>
    <h2>Информация пользователей</h2>

    <table border="2">
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Эл. почта</th>
            <th>Логин</th>
            <th>Операции</th>
        </tr>

        <tr th:each="user : ${users}">
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.username}"></td>

            <td style="display: flex; gap: 5px;">
                <form th:action="@{/admin/edit/{id}(id=${user.id})}" method="get">
                    <button type="submit">Изменить</button>
                </form>

                <form th:action="@{/admin/delete/{id}(id=${user.id})}" method="post">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
    </table>

    <br>

    <td>
        <form th:action="@{/admin/new-user}" method="get">
            <button type="submit">Добавить нового пользователя</button>
        </form>
    </td>

    <br>

    <form th:action="@{/logout}" method="post">
        <button type="submit">Выйти из приложения</button>
    </form>
</div>
</body>
</html>
