<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div>
    <h2>Информация о пользователе</h2>
    <table border="2">
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Эл. почта</th>
            <th>Логин</th>
            <th>Операции</th>
        </tr>

        <tr>
            <td th:text="${userById.id}"></td>
            <td th:text="${userById.firstName}"></td>
            <td th:text="${userById.lastName}"></td>
            <td th:text="${userById.email}"></td>
            <td th:text="${userById.username}"></td>

            <td style="display: flex; gap: 5px;">
                <form th:action="@{/admin/edit/{id}(id=${userById.id})}" method="get">
                    <button type="submit">Редактировать</button>
                </form>

                <form th:action="@{/admin/delete/{id}(id=${userById.id})}" method="post">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
    </table>

    <br>

    <form th:action="@{/logout}" method="post">
        <button type="submit">Выйти из приложения</button>
    </form>
</div>
</body>
</html>